html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow:hidden;
}

#app {
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow:hidden;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 0px;
}

.clickable {
    cursor:pointer;
    user-select: none;
}

/* Progress Bars */
.progress-bar {
    height: 1.5em;
    width: 8em;
    text-align: center;
    margin-bottom: 0.5em;
}

.progress-bar-inner {
    height: 100%;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.progress-bar-text {
    position: relative;
    margin-top: -1.25em;
}

.floating-num {
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.5s;
}

.floating-num-end {
    transform: translate(1.5em, -1.5em);
}

.hidden {
    opacity: 0;
}

.hp-full {
    background-color: green;
}

.hp-empty {
    background-color: red;
}

.hp-heal {
    color: green;
}

.hp-damage {
    color: red;
}

.xp-full {
    background-color: lightseagreen;
}

.xp-empty {
    background-color: lightgrey;
}

.mana-full {
    background-color: #9c27b0;
}

.mana-color {
    color: #9c27b0;
}

.mana-empty {
    background-color: #9c27b04f;
}

.enemy-list {
    position: absolute;
    background-color: white;
}

.tooltip-container {
    position: relative;
}

.tooltip {
    display: none;
    position: absolute;
    top: 2em;
    background-color: white;
    border: 5px solid black;
    z-index: 10;
    padding: 0.5em;
    border-radius: 7px;
}

.tooltip-container:hover .tooltip {
    display: inline-block;
    width: 11em;
}

/* Locations Nav Bar */
#locations-container {
    margin: 0.5em 0em;
}
.locations-menu-item {
    display: inline;
    text-decoration: underline;
    margin: 1em;
}

/* Spells */
.spell-btn {
    margin: 0em 0.5em;
}

/* Shop UI */
.buy-button {
    text-decoration: underline;
}

/* Inventory UI */
.inventory-item-use {
    text-decoration: underline;
}