body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

td {
    position: relative;
    padding: 0;
}

img, .highlight {
    position:absolute;
    top: 0;
}

td, img, .highlight {
    width: 4em;
    height: 4em;
}

.action-button {
    margin: 0em 0.5em;
}

.highlight {
    z-index: 10;
}

#player-hud {
    position: absolute;
    top: 0;
    height: 6em;
    width: 10em;
}

/* Progress Bars */
.progress-bar-horiz {
    position:absolute;
    height: .5em;
    width: 100%;
    bottom:0;
    z-index:11;
}

.progress-bar-vert {
    position: relative;
    height: 100%;
    width: 1em;
    z-index:11;
    float: left;
    margin-right: 1em;
}

.progress-bar-inner {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.progress-bar-vert .progress-bar-inner{
    height: 0;
}

.hp-full {
    background-color: green;
}

.hp-empty {
    background-color: red;
}

.hp-heal {
    color: green;
}

.hp-damage {
    color: red;
}

.xp-full {
    background-color: lightseagreen;
}

.xp-empty {
    background-color: lightgrey;
}

.mana-full {
    background-color: #9c27b0;
}

.mana-color {
    color: #9c27b0;
}

.mana-empty {
    background-color: #9c27b04f;
}

/* Inventory */
#player-inventory-table td {
    width: auto;
    padding-right: 0.5em;
}