#dungeon-container td {
    position: relative;
    padding: 0;
    display: inline-block;
}

#dungeon-container img {
    position: absolute;
}

#dungeon-container img, #dungeon-container td {
    width: 4em;
    height: 4em;
}

td {
    position: relative;
    padding: 0;
}

img {
    position:absolute;
}

td, img {
    width: 4em;
    height: 4em;
}