<html>
    <head>
        <link rel="stylesheet" href="app.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="utilityFunctions.js"></script>
        <script src="items.js"></script>
        <script src="spells.js"></script>
        <script src="shop.vue"></script>
    </head>
    <body>
        <div id="app">
            <div v-if="currLocation != 'Dungeon'" id="locations-container">
                <ul id="locations-menu">
                    <li v-for="loc in locations" @click="currLocation = loc" class="locations-menu-item clickable">
                        {{loc}}
                    </li>
                </ul>
            </div>
            <div style="position:relative">
                <div v-if="currLocation == 'Wilderness'">
                    <div>
                        {{prettyPrint(player.name) + ": Level " + player.level}}
                        <div class="progress-bar hp-empty">
                            <div class="progress-bar-inner hp-full"
                            :style="{width: player.hp/player.maxHP()*100 + '%'}">
                            </div>
                            <div class="progress-bar-text">
                                {{prettyPrint(player.hp) + " / " + player.maxHP()}}
                                <div class="floating-num" 
                                :class="[ player.currHit != undefined ? 'floating-num-end' : 'hidden', player.currHit < 0 ? 'hp-damage' : 'hp-heal']">
                                    {{prettyPrint(player.currHit)}}
                                </div>
                                <div class="floating-num" 
                                :class="[ player.currHitAddon != undefined ? 'floating-num-end' : 'hidden']">
                                    {{player.currHitAddon}}
                                </div>
                            </div>
                        </div>
                        <div v-if="playerStats.indexOf('int') != -1" class="progress-bar mana-empty">
                            <div class="progress-bar-inner mana-full"
                            :style="{width: player.mana/player.maxMana()*100 + '%'}">
                            </div>
                            <div class="progress-bar-text">
                                {{prettyPrint(player.mana) + "/" + player.maxMana()}}
                            </div>
                        </div>
                        <div class="progress-bar xp-empty">
                            <div class="progress-bar-inner xp-full"
                            :style="{width: player.xp/xpToLevel[player.level+1]*100 + '%'}">
                            </div>
                            <div class="progress-bar-text">
                                    {{player.xp + "/" + xpToLevel[player.level+1]}}
                            </div>
                        </div>
                    </div>
                    <div>
                        <button v-for="spell in player.spells" class="spell-btn" @click="castSpell(player,currEnemy,spell)">{{prettyPrint(spell)}}</button>
                    </div>
                    <div>
                        <ul>
                            <li v-for="item in Object.keys(player.inventory).filter(key => player.inventory[key] > 0)">
                                {{prettyPrint((player.inventory[item] > 1 ? items[item]().plural : items[item]().name)) + 
                                ': ' + player.inventory[item]}}
                                <span v-if="items[item]().useName" @click="items[item]().use(player)" class="inventory-item-use clickable">
                                    {{prettyPrint(items[item]().useName)}}
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div v-if="player.isAlive">
                        <span>Next:</span> 
                        <select id="monsterSelector" @change="enemySelect">
                            <option value="Rest">Rest</option>
                            <option v-for="monster in Object.keys(monsters)" :value="monster">{{prettyPrint(monster)}}</option>
                        </select>
                        <div class="progress-bar hp-empty" v-if="currEnemy">
                            <div class="progress-bar-inner hp-full"
                            :style="{width: currEnemy.hp/currEnemy.maxHP()*100 + '%'}">
                            </div>
                            <div class="progress-bar-text">
                                {{currEnemy.hp + " / " + currEnemy.maxHP()}}
                                <div class="floating-num" 
                                :class="[ currEnemy.currHit != undefined ? 'floating-num-end' : 'hidden', currEnemy.currHit < 0 ? 'hp-damage' : 'hp-heal']">
                                    {{prettyPrint(currEnemy.currHit)}}
                                </div>
                                <div class="floating-num" 
                                :class="[ currEnemy.currHitAddon != undefined ? 'floating-num-end' : 'hidden']">
                                    {{currEnemy.currHitAddon}}
                                </div>
                            </div>
                            <div v-if="currEnemy.isStunned && currEnemy.isAlive">
                                Stunned
                            </div>
                        </div>
                    </div>
                    <div >
                        <p v-if="player.points">Ability Points: {{player.points}}</p>
                        <table>
                            <tr v-for="i in playerStats">
                                <td>
                                    <div class="tooltip-container">
                                        {{prettyPrint(i)}}
                                        <span class="tooltip">{{statInfo[i]}}</span>
                                    </div>
                                </td>
                                <td>
                                    {{player[i]}}
                                </td>
                                <td v-if="player.points" class="clickable" @click="statIncrease(i)">
                                    &uarr;
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div v-if="currLocation == 'Shop'">
                <shop v-bind:app="this"></shop>
            </div>
            <div v-if="currLocation == 'Dungeon'" id="dungeon-container">
                <iframe src="dungeon.html"></iframe>
            </div>
        </div>
        <script src="app.js"></script>
    </body>
</html>